!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Notd
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body

    .container
      .navbar-spacer
      %nav.navbar
        .container
          %ul.navbar-list
            %li.navbar-item= link_to 'Home', root_path, class: 'navbar-link'
            %li.navbar-item= link_to 'Notes', notes_path, class: 'navbar-link'
            %li.navbar-item= link_to 'Tags', tags_path, class: 'navbar-link'

      - if notice.present?
        = notice

      - if alert.present?
        = alert


      .docs-section
        = yield